@import url("https://use.typekit.net/mhh8git.js");
@import url("https://assets-global.website-files.com/62a059f7c3b9147ea6a4afb2/css/outliant.75fb02331.min.css");

@font-face {
  font-family: "aktiv-grotesk-extended";  font-display: optional;
  font-family: "aktiv-grotesk-extended"; font-display: optional;
  font-family: 'Anonymous Pro Bold'; font-display: optional;
  font-family: 'Anonymous Pro 400'; font-display: optional;
  font-family: 'Aktiv Grotesk EX'; font-display: optional;
  font-family: 'Fakt Pro 400'; font-display: optional;
  font-family: 'Fakt Pro 300'; font-display: optional;
  font-family: 'Fakt Pro 500'; font-display: optional;
  font-family: 'Fakt 700 Bold'; font-display: optional; 
}
.ashby-application-form-autofill-pane{ display: none !important; }

.ashby-application-form-section-header {border-bottom: 0;}
.ashby-application-form-section-header h2 {
  color: #FFF;
  text-align: center;
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: -1.5px; 
}

.ashby-application-form-container { 
  background:#212228; 
}
.ashby-application-form-field-entry {
  position: relative;
  display: flex;
  flex-direction: column;
} 

.ashby-application-form-question-description {
  order: 3;
  
}
.ashby-application-form-question-description p, 
.ashby-application-form-question-description code {
  color: #A6A7A9;
  font-family: "Fakt Pro 300";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 20px;
  margin-top: 13px;
}

.ashby-application-form-question-description ul {
  margin-left:12px;
} 

.ashby-application-form-question-description ul li {
  margin-bottom: 0;
}


.ashby-application-form-field-entry input,
.ashby-application-form-field-entry textarea{ 
  border:0; 
  border-bottom:1px solid white; 
  border-radius:0;
  color: #A6A7A9; 
  font-family: "Fakt Pro 300";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  order: 1;
  padding: 0;
  padding-bottom: 13px;
}

.ashby-application-form-field-entry input:hover,
.ashby-application-form-field-entry input:focus-within,
.ashby-application-form-field-entry input:focus,
.ashby-application-form-field-entry textarea:hover,
.ashby-application-form-field-entry textarea:focus-within,
.ashby-application-form-field-entry textarea:focus {
  outline-color: transparent !important;
  border-bottom-color: #DEF858 !important;
}

.ashby-application-form-field-entry label {
  position: absolute;
  pointer-events: none;
  left: 0px;
  top: 2px;
  transition: 0.2s ease all;
  color: #A6A7A9; 
  font-family: "Fakt Pro 300";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  order: 2;
} 
.ashby-application-form-field-entry:focus-within label,  
.ashby-application-form-field-entry:has(input:not(:placeholder-shown)) label,  
.ashby-application-form-field-entry:has(textarea:not(:placeholder-shown)) label{
  top:-10px;
  z-index:-1;
  display: none;
}

.ashby-application-form-field-entry input:not(:focus)::-webkit-input-placeholder,
.ashby-application-form-field-entry textarea:not(:focus)::-webkit-input-placeholder {
  /* WebKit browsers */
  color: transparent;
}
.ashby-application-form-field-entry input:not(:focus):-moz-placeholder,
.ashby-application-form-field-entry textarea:not(:focus):-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: transparent;
}
.ashby-application-form-field-entry input:not(:focus)::-moz-placeholder,
.ashby-application-form-field-entry textarea:not(:focus)::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: transparent;
}
.ashby-application-form-field-entry input:not(:focus):-ms-input-placeholder,
.ashby-application-form-field-entry textarea:not(:focus):-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: transparent;
}

div[class^='_option_'] span{
  background-color: transparent !important;
  border-color: #A6A7A9 !important;
}

div[class^='_option_'] span[class*=' _checked_']{
  background-color: transparent !important;
  border-color: #DEF858 !important;
}
div[class^='_option_'] span[class^=' _checked_'] > span{
  background-color: #DEF858 !important;
}
div[class^='_option_'] span[class*=' _checked_'] svg {
  fill: #DEF858 !important;
}

.ashby-application-form-container fieldset label.ashby-application-form-question-title,
div[class^='_option_'] label {
  color: #A6A7A9; 
  font-family: "Fakt Pro 300";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

button[class^=' _secondary_'] {
  color: #DEF858 !important;
  border-color: #DEF858 !important;
}

button[class^=' _secondary_'] svg {
  color: #DEF858 !important;
}